@charset "UTF-8";
h1 {
  color: red;
  font-family: verdana;
  font-size: 300%;
}

table, th, td {
  border: 1px black;
  border-style : dotted;
}

body{
	text-align : center ;
}

.table{
	margin-left: auto;
 	margin-right: auto;
}